In [29]:
import sys
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math

In [30]:
df1= pd.read_csv('../data/accidents_clean.csv')
df2 = pd.read_csv('../data/FARS_data_persons_2017.csv')
df3 = pd.read_csv('../data/FARS_data_vehicle_2017.csv')

C:\Users\Michel Burgos\AppData\Local\Temp\ipykernel_6344\1563333737.py:1: DtypeWarning: Columns (40,42,64,66,86,88,90) have mixed types. Specify dtype option on import or set low_memory=False.
  df1= pd.read_csv('../data/accidents_clean.csv')
C:\Users\Michel Burgos\AppData\Local\Temp\ipykernel_6344\1563333737.py:2: DtypeWarning: Columns (115,117) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('../data/FARS_data_persons_2017.csv')
C:\Users\Michel Burgos\AppData\Local\Temp\ipykernel_6344\1563333737.py:3: DtypeWarning: Columns (14,59,61,114) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('../data/FARS_data_vehicle_2017.csv')

In [31]:
columns_to_select_person = [
    "st_case",
    "age",         # P5/NM5 Age
    "sex",         # P6/NM6 Sex
    "per_typ",     # P7/NM7 Person Type
    "inj_sev",     # P8/NM8 Injury Severity
    "seat_pos",    # P9 Seating Position
    "rest_use",    # P10A Restraint System Use
    "ejection",    # P13 Ejection
    "alc_res",     # P17C/NM19C Alcohol Test Result
    "dstatus",     # P19A/NM21A Drug Test Status
    "doa"          # P21/NM23 Died at Scene/En Route
]

In [32]:
df2 = df2[columns_to_select_person]

In [33]:
columns_to_select_vehicle = [
    "st_case",
    "numoccs",    # V4 Number of Occupants
    "hit_run",    # V6 Hit-and-Run
    "body_typ",   # V16 NCSA Body Type
    "l_state",    # D5 Drivers License State
    "l_type",     # D7A Non-CDL License Type
    "l_restri",   # D11 Compliance with License Restrictions
    "prev_acc",   # D14 Previous Recorded Crashes
    "prev_spd",   # D17 Previous Speeding Convictions
    "prev_oth",   # D18 Previous Other Moving Violation Convictions
    "prev_sus3"   # D15C Previous Recorded Other Suspensions, Revocations, or Withdrawals
]

In [34]:
df3 = df3[columns_to_select_vehicle]

In [35]:
df = df1.set_index('st_case').join(df2.set_index('st_case'), lsuffix='_left', rsuffix='_right') \
         .join(df3.set_index('st_case'), rsuffix='_df3')
df

,caseyear,state,statename,ve_total,ve_forms,pvh_invl,peds,pernotmvit,permvit,persons,...,numoccs,hit_run,body_typ,l_state,l_type,l_restri,prev_acc,prev_spd,prev_oth,prev_sus3
st_case,,,,,,,,,,,,,,,,,,,,,
10001,2017,1,Alabama,1,1,0,0,0,1,1,...,1.0,0.0,15.0,1.0,1.0,0.0,2.0,3.0,0.0,NaN
10001,2018,1,Alabama,2,1,1,0,0,1,1,...,1.0,0.0,15.0,1.0,1.0,0.0,2.0,3.0,0.0,NaN
10001,2019,1,Alabama,2,2,0,0,0,3,3,...,1.0,0.0,15.0,1.0,1.0,0.0,2.0,3.0,0.0,NaN
10001,2020,1,Alabama,1,1,0,0,0,4,4,...,1.0,0.0,15.0,1.0,1.0,0.0,2.0,3.0,0.0,NaN
10001,2021,1,Alabama,2,2,0,0,0,3,3,...,1.0,0.0,15.0,1.0,1.0,0.0,2.0,3.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560118,2019,56,Wyoming,5,5,0,0,0,6,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
560118,2022,56,Wyoming,1,1,0,0,0,4,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
560119,2019,56,Wyoming,1,1,0,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
560120,2019,56,Wyoming,1,1,0,0,0,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
560121,2019,56,Wyoming,2,2,0,0,0,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df.loc[10001]

,caseyear,state,statename,ve_total,ve_forms,pvh_invl,peds,pernotmvit,permvit,persons,...,numoccs,hit_run,body_typ,l_state,l_type,l_restri,prev_acc,prev_spd,prev_oth,prev_sus3
st_case,,,,,,,,,,,,,,,,,,,,,
10001,2017,1,Alabama,1,1,0,0,0,1,1,...,1.0,0.0,15.0,1.0,1.0,0.0,2.0,3.0,0.0,NaN
10001,2018,1,Alabama,2,1,1,0,0,1,1,...,1.0,0.0,15.0,1.0,1.0,0.0,2.0,3.0,0.0,NaN
10001,2019,1,Alabama,2,2,0,0,0,3,3,...,1.0,0.0,15.0,1.0,1.0,0.0,2.0,3.0,0.0,NaN
10001,2020,1,Alabama,1,1,0,0,0,4,4,...,1.0,0.0,15.0,1.0,1.0,0.0,2.0,3.0,0.0,NaN
10001,2021,1,Alabama,2,2,0,0,0,3,3,...,1.0,0.0,15.0,1.0,1.0,0.0,2.0,3.0,0.0,NaN
10001,2022,1,Alabama,2,2,0,0,0,3,3,...,1.0,0.0,15.0,1.0,1.0,0.0,2.0,3.0,0.0,NaN

In [36]:
df.shape

(963542, 112)

In [37]:
df.isnull().sum()

caseyear          0
state             0
statename         0
ve_total          0
ve_forms          0
              ...
l_restri      16941
prev_acc      16941
prev_spd      16941
prev_oth      16941
prev_sus3    963542
Length: 112, dtype: int64